

.hero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
  color: white;
}

.hero-title {
  margin-right: 600px;
  color: gold;
  margin-bottom: -15px;
}
